doctype html
html(lang='en')
block vars
  - var bodyclass = null;

  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title
        block title
          = locals.name
      block meta
        meta(name='description', content=locals.metaDescription)
        //- meta(property="og:image", content="/img/logo.jpg")

      block link
        link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
        //- Icons
        //- link(rel="shortcut icon", href="ico/favicon.ico")
        //- each size in [144,114,72,57]
          link(rel="apple-touch-icon", sizes="#{size}x#{size}", href="/img/apple-touch-icon-#{size}.png")  
      != livereloadScript
      block headEnd
        //- Shims: IE6-8 support of HTML5 elements
        //if lt IE 9
          script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")
        //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic')
        link(rel="stylesheet" type="text/css" href="/styles/app.css")
        script(src="/assets/vendor/responsive-nav/responsive-nav.js")

  body(class=bodyclass)
    header#navigation.navbar.navbar-default.navbar-fixed-top
      .container
        block header
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              b=locals.name
          nav.navbar-collapse.collapse
            ul.nav.navbar-nav
              // check if logged in, else show sign-in + link to home to sign-up 
              li: a(href='/lessons/') Lessons
              li: a(href='/tab/') Tab
              li: a(href='/blog/') Blog
              li: a(href='/help/') Help
              // Login or Logout
              li: a(href='/login/') Login
   
    block content
   
    block footer
      footer.footer
        .container
          .col-md-5
            img.img-responsive(src="//placehold.it/500x500", alt="")
          .col-md-7
            h3 Start Your Harmonica Lessons Right Now For Free
            button.btn.btn-lg.btn-primary Login with Facebook
            p or Sign Up with Your Email...
            form(role='form', action='#', method='post', enctype='plain')
              .form-group
                input#name1.form-control(type='name', name='Name', placeholder='Your First Name')
              .form-group
                input#email1.form-control(type='email', name='Mail', placeholder='Enter email')
              .form-group
                input#email1.form-control(type='email', name='Password', placeholder='Create a password')
              button.btn.btn-lg.btn-success(type='submit') Sign Up For Free
      
    section.copyright
      .container
        p &copy; #{locals.name} 2012 &ndash; #{ new Date().getFullYear() }
        
          
      block scripts
        != nap.js('main')
        //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
