include icons

mixin main-menu
  nav.main-menu
    ul
      each link, name in config.menu
        - var current = path == link.substring(1)  + 'index.html' ? 'active' : '';
        li: a(href=link, class=current)= name
      each cat in site.categories.toArray()
        - var current = (is_category() && page.category == cat.name) ? 'active' : '';
        li: a(href=cat.path, class=current): = cat.name

mixin header(header)
  header.logo(class=header)
    h1: a(href=config.root)= config.title
    block

//- Add social sharing buttons by passing an array
//- +social-buttons(['twitter','facebook','googleplus','linkedin','pinterest','tumblr'])
//- Buttons will automatically flow to the size of the ul
mixin socialbuttons(socialsites)
  ul.rrssb-buttons.clearfix
    each socialsite in socialsites
      case socialsite
        when 'twitter'
          li(class=socialsite)
            a(target='_blank', href='#')
              +icon-twitter()
              span.text Twitter
        when 'facebook'
          li(class=socialsite)
            a(target='_blank', href='#')
              +icon-facebook()
              span.text Facebook
        when 'googleplus'
          li(class=socialsite)
            a(target='_blank', href='#')
              +icon-google-plus()
              span.text Google+
        when 'linkedin'
          li(class=socialsite)
            a(target='_blank', href='#')
              +icon-linkedin()
              span.text LinkedIn
        when 'pinterest'
          li(class=socialsite)
            a(target='_blank', href='#')
              +icon-pinterest()
              span.text Pinterest
        when 'tumblr'
          li(class=socialsite)
            a(target='_blank', href='#')
              +icon-tumblr()
              span.text Tumblr
