mixin main-menu
  nav.main-menu
    ul
      each link, name in config.menu
        //- This is not working to set .active for the page. It should also check is_post for /blog/*
        //- - var current = is_current(link) ? 'active' : null;
        li: a(href=link, class= current)= name

mixin header(header)
  header.logo(class=header)
    h1: a(href=config.root)= config.title
    block

//- Add social sharing buttons by passing an array
//- +social-buttons([twitter,facebook,googleplus,linkedin,pinterest,tumblr])
//- Buttons will automatically flow to the size of the ul
mixin socialbuttons(socialsites)
  ul.rrssb-buttons.clearfix
    each socialsite in socialsites
      if socialsite === twitter
        li(class=socialsite) Tweet
      if socialsite === facebook
        li(class=socialsite) Facebook
      if socialsite === googleplus
        li(class=socialsite) google
      if socialsite === linkedin
        li(class=socialsite) linkedin
      if socialsite === pinterest
        li(class=socialsite) pinterest
      if socialsite === tumblr
        li(class=socialsite) tumblr

  //-   each socialsite in socialsites
  //-     if socialsite === twitter
  //-       li(class=socialsite): a(target='_blank', href='https://twitter.com/intent/tweet?text=#{page.title}&url=#{page.permalink}&via=#{config.twitter}') Tweet
  //-     if socialsite === facebook
  //-       li(class=socialsite): a(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=#{page.permalink}') Share on Facebook
  //-     if socialsite === googleplus
  //-       li(class=socialsite): a(target='_blank', href='https://plus.google.com/share?url=#{page.permalink}') Plus on Google+
  //-     if socialsite === linkedin
  //-       li(class=socialsite): a(target='_blank', href='https://www.linkedin.com/shareArticle?mini=true&url=#{page.permalink}&title=#{page.title}&summary=#{page.excerpt}&source=#{page.permalink}') Share on LinkedIn
  //-     if socialsite === pinterest
  //-       li(class=socialsite): a(target='_blank', href='https://pinterest.com/pin/create/button/?url=#{page.permalink}&description=#{page.title}&media=#{page.photos[0]}') Pin on Pinterest
  //-     if socialsite === tumblr
  //-       li(class=socialsite): a(target='_blank', href='http://www.tumblr.com/share') Share on Tumblr
  //-     else
  //-       p hello?
  //- 