include _partial/mixins

doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    include _partial/head
  body(class=bodyclass)
    block header
      if config.site_type != 'single'
        header.main
          div
            h1: a(href=config.root)= config.title
            +main-menu()
    block main-container
      div(role='main')
        block content
          !=page.content
    block footer
      footer
        nav
          p
            | &copy; &nbsp;
            if config.year_started
              | #{config.year_started} &ndash; 
            | #{ new Date().getFullYear() } &nbsp;
            | <a href="#{config.url}">#{ config.title }</a>
          ul
            each link, name in config.footerMenu
              li: a(href=link)=name

    block scripts
      each script in theme.scripts
        !=js(script)
