//- Category
//- List pages for one category
//- Should work with any category mentioned in a pages front-matter.


extends base

block vars
  - var bodyclass = 'category'

block content
  header: h1=page.category
  !=page.content
  ul.tag-list
    //- each article tag from site for MixItUp filtering
    each tag in site.tags.toArray()
      li
        a(href="#", class='filter', data-filter='.' + tag_to_class(tag.name))
          = tag.name
  div.mix-container.article-list
    //- query for get posts in category? http://hexo.io/docs/helpers.html#get_posts
    //- there should be three styles, with frontmatter `feature: primary #or secondary`
    //- I want to render all of the posts on the page and style them across feature:primary, feature:secondary
    // rest of the posts ordered by time which will be just the title)
    each post in get_posts({query: {categories: page.category}, count: 1000}).toArray()
      div.mix(class=tags_to_class(post.tags)): article(class=post.feature)
        h2: a(href=config.root + post.path)= post.title
        ul.tags
          each tag in post.tags.toArray()
            li: a(href=config.root + tag.path): = tag.name
        p=post.excerpt
        a(href=config.root + post.path) Read More...
    div.gap

block append scripts
  !=js('/scripts/jquery.mixitup.min.js')
  !=js('/scripts/category.js')