extends base

block vars
  - var bodyclass = 'category'

block content
  div(role='main')
    header.featured
      h1.title=page.category
      //- inserts category content from /source/_categories/category.md
      if category_content(page.category)
        .summary
          !=category_content(page.category)
    .article-list
      .tag-list
        - var articles = page.category === 'Blog' ? 'Posts' : 'Articles';
        h6 View #{page.category} #{articles} By Topic
        ul.tags
          //- each article tag from all articles in this category for MixItUp filtering
          li: a.filter.active(href="#", data-filter='all') Show All
          each tag in category_tags(page.category)
            li
              a.filter(href="#", data-filter='.' + tag_to_class(tag.name))
                = tag.name
      #articles
        - var featured_posts = get_posts({query: {categories: page.category, feature: {$exist: true}}}).toArray()
        if featured_posts.length
          each post in featured_posts
            article.article.featured(class=tags_to_class(post.tags))
              h2: a(href=config.root + post.path)= post.title
              img(src=post.image)
              !=post.excerpt
              a(href=config.root + post.path) Read More...
        each post in get_posts({query: {categories: page.category, feature: {$exist: false}}, count: 1000}).toArray()
          article.article(class=tags_to_class(post.tags))
            h2: a(href=config.root + post.path)= post.title
            //- span Tags:
            //- ul.tags
            //-   each tag in post.tags.toArray()
            //-     li: a(href=config.root + tag.path): = tag.name
            !=html_truncate(post.excerpt, 160)
            a.more(href=config.root + post.path) Read More...

block append scripts
  !=js('/scripts/category.js')
