extends base

//- block header

//- prepend main-container
block content
  div(role='main')
    .featured
      if page.title
        h1.headline= page.title
      if page.subheading
        h2.subheading= page.subheading
      if page.video
        .video
          iframe(width="1280" height="720" src="//www.youtube.com/embed/#{page.video}?vq=hd720&controls=0&modestbranding" frameborder="0" allowfullscreen)
      if page.button
        a(href="#{page.button_link}" rel="nofollow")
          button(class="action")= page.button
    article.content
      !=page.content
      if page.social
        +socialbuttons(page.social)